[Desktop Entry]
Type=Application
# https://askubuntu.com/questions/846030/how-to-set-keyboard-repeat-delay-and-speed-in-ubuntu-gnome-16-10
Exec=/usr/bin/xset r rate 200 30
#Hidden=false
X-MATE-Autostart-enabled=true
Name[de_AT]=Tastaturwiederholung konfigurieren
Name=Set keyboard refresh